<div style="margin-top: 50px; display: flex;">
  <div style="width: 250px">
    <%= render "_gallows.html", left: @tally.turns_left %>
  </div>

  <div style="flex: 1; margin-left: 50px;">
    <%= render "_status.html", tally: @tally, conn: @conn %>
  </div>
</div>
